@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:wght@600&family=Poppins&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    margin-bottom: 0px !important;
}

.bg-black {
    background: black !important;
}

html {
    scroll-behavior: smooth;;
}
